<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>
              
              <th>Slice / Whole</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Vanilla</td>
            <td>$3.50/$25.00</td>
          </tr>
          <tr>
            <td>Chocolate</td>
            <td>$3.50/$25.00</td>
          </tr>
        <tr>
            <td>White</td>
            <td>$3.50/$22.00</td>
        </tr>
        <tr>
            <td>Marble</td>
            <td>$3.00/$20.00</td>
          </tr>
          <tr>
            <td>Red Velvet</td>
            <td>$3.75/$27/00</td>
          </tr>
        <tr>
            <td>Carrot</td>
            <td>$4.00/$29.00</td>
        </tr>
        <tr>
            <td>Flourless Chocolate</td>
            <td>$3.25/$25.00</td>
          </tr>
          <tr>
            <td>Devil's Food</td>
            <td>$3.50/$25.00</td>
          </tr>
        <tr>
            <td>Angel Food</td>
            <td>$3.25/$22.00</td>
        </tr>
        
        </tbody>
      </table>