<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>

              <th>Item Description</th>
              
              <th>Slice / Whole</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Vanilla</td>
            <td class="cookie">classic vanilla, real vanilla bean</td>
            <td>$3.50/$25.00</td>
          </tr>
          <tr>
            <td>Chocolate</td>
            <td class="cookie">Gourmet chocolate</td>
            <td>$3.50/$25.00</td>
          </tr>
        <tr>
            <td>White</td>
            <td class="cookie">classic white cake</td>
            <td>$3.50/$22.00</td>
        </tr>
        <tr>
            <td>Marble</td>
            <td class="cookie">vanilla and chocolate combined fresh together</td>
            <td>$3.00/$20.00</td>
          </tr>
          <tr>
            <td>Red Velvet</td>
            <td class="cookie">A customer favorite! savory and delecious</td>
            <td>$3.75/$27/00</td>
          </tr>
        <tr>
            <td>Carrot</td>
            <td class="cookie">fresh carrot cake with cream cheese icing</td>
            <td>$4.00/$29.00</td>
        </tr>
        <tr>
            <td>Flourless Chocolate</td>
            <td class="cookie">Gluten free and delicious, for chocolate lovers</td>
            <td>$3.25/$25.00</td>
          </tr>
          <tr>
            <td>Devil's Food</td>
            <td class="cookie">Chocolate and light</td>
            <td>$3.50/$25.00</td>
          </tr>
        <tr>
            <td>Angel Food</td>
            <td class="cookie">light and sweet</td>
            <td>$3.25/$22.00</td>
        </tr>
        
        </tbody>
      </table>