<div class="row">
Please Leave your information below, recieve updates, coupons and catalog!
</div>
<div class="row">
    <form action="/contact" id="form" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input name="first" type="text" class="validate">
          <label for="first">First Name</label>
        </div>

      <div class="input-field col s6">
          <input name="last" type="text" class="validate">
          <label for="last">Last Name</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
          <input name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right"></i>
    </button>
    </form>
  </div>
</div>
