<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>
              
              <th>Item Description</th>-

              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Chocolate Chip</td>
            <td class="cookie">Generous chocolate morsels</td>
            <td>$0.50</td>
          </tr>
          <tr>
            <td>Oatmeal Rasin</td>
            <td class="cookie">steel cut oats with fresh rasins</td>
            <td>$0.50</td>
          </tr>
        <tr>
            <td>Macadamia Nut</td>
            <td class="cookie">Fresh hamakua mac nut and white chocolate morsels</td>
            <td>$0.75</td>
        </tr>
        <tr>
            <td>Peanut Butter</td>
            <td class="cookie">organic housemade peanut butter and chocolate</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Rainbow</td>
            <td class="cookie">classic five layers with raspberry preserves</td>
            <td>$1.00</td>
          </tr>
        <tr>
            <td>Sugar</td>
            <td class="cookie">turbinado sugar creates a unique flavor profile</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Shortbread</td>
            <td class="cookie">turbinado sugar creates a unique flavor profile</td>
            <td>$0.65</td>
          </tr>
          <tr>
            <td>Macaroon</td>
            <td class="cookie">assorted colors, flaky sugary outside</td>
            <td>$1.00</td>
          </tr>
        <tr>
            <td>Macaron</td>
            <td class="cookie">simular to a macaroon, a french classic</td>
            <td>$1.00</td>
        </tr>
        
        </tbody>
      </table>