<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>
              
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Chocolate Chip</td>
            <td>$0.50</td>
          </tr>
          <tr>
            <td>Oatmeal Rasin</td>
            <td>$0.50</td>
          </tr>
        <tr>
            <td>Macadamia Nut</td>
            <td>$0.75</td>
        </tr>
        <tr>
            <td>Peanut Butter</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Rainbow</td>
            <td>$1.00</td>
          </tr>
        <tr>
            <td>Sugar</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Shortbread</td>
            <td>$0.65</td>
          </tr>
          <tr>
            <td>Macaroon</td>
            <td>$1.00</td>
          </tr>
        <tr>
            <td>Macaron</td>
            <td>$1.00</td>
        </tr>
        
        </tbody>
      </table>