<P>
   <img class="dessert" src = "/images/cupcake.jpg">   
   <img class="dessert" src = "/images/carrot-cake.jpg"> 
   <img class="dessert" src = "/images/macaroon.jpg"> 
   <img class="dessert" src = "/images/baked-baking.jpg"> 
   <img class="dessert" src = "/images/cupcake-blur.jpg"> 
   <img class="dessert" src = "/images/cake-dessert.jpg">   
</P>

<p id = "about">
<u>About Us:</u> <br>
With all items baked on premises, Kristina's confections brings various assorted bakery items fresh daily! Our menu is always changing and we only use the freshest ingredients! we strive to please our customers with the best bakery items around. Be sure to sign up for our email list, for updates, coupons and product list!
<br>
<br>
</p>