<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- materailize links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/javascript/main.js"></script>
    <title>Kristina's Bakery</title>
    <!-- css link -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- JS link -->
    <!-- google fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Varela+Round|Pacifico" rel="stylesheet">
    <!-- favicon -->
    <link rel="short cut icon" type="img/png" href="/images/cupcake-favicon.png">
</head>

<body>

    <div class="row">
        <div class="col s12" class="center valign-wrapper">
            <header id="header">
                 Kristina's Confections
                <br> a fine assortment of baked goods...<br>
            <div id = links>
              <a class="link" href='/'>Home</a>
              <a class="link" href='/cookies'>Cookies</a>
              <a class="link" href='/muffins'>Muffins</a>
              <a class="link" href='/cakes'>Cakes </a>
              <a class="link" href='/contact'>Contact Us </a>
              <br>
            </div>
            </header>
        </div>
    </div>

    <div class="row">
    <br>
    <div class="container">


            <%=yield%>
    </div>



</body>

<div class="footer">
    <p>tel: (516) 578-7645 | Store Hours: M-F 7:00 - 7:00 | Sa-Su 6:30 - 5:00 </p> <br>
</div>

</html>