<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>
              
              <th>Item Description</th>

              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Banana Chocolate</td>
            <td class="cookie">Fresh bananas and gourmet chocolate morsels</td>
            <td>$3.00</td>
          </tr>
          <tr>
            <td>Lemon Poppy Seed</td>
            <td class="cookie">Fresh fresh poppy seed and vanilla infusion</td>
            <td>$3.25</td>
          </tr>
        <tr>
            <td>Blueberry</td>
            <td class="cookie">Fresh seasonal blueberries</td>
            <td>$3.50</td>
        </tr>
        <tr>
            <td>Bran</td>
            <td class="cookie">A healthy alternative</td>
            <td>$2.75</td>
          </tr>
          <tr>
            <td>Corn</td>
            <td class="cookie">Freshly ground corn meal</td>
            <td>$3.00</td>
          </tr>
        <tr>
            <td>Chocolate Chip</td>
            <td class="cookie">Gourmet chocolate morsels </td>
            <td>$3.50</td>
        </tr>
        <tr>
            <td>Double Chocolate Chip</td>
            <td class="cookie">Extra chocolate morsels, a customer favorite</td>
            <td>$3.75</td>
          </tr>
          <tr>
            
        
        </tbody>
      </table>