<br>
<table>
        <thead>
        
          <tr>
              <th>Name</th>
              
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Banana Chocolate</td>
            <td>$3.00</td>
          </tr>
          <tr>
            <td>Lemon Poppy Seed</td>
            <td>$3.25</td>
          </tr>
        <tr>
            <td>Blueberry</td>
            <td>$3.50</td>
        </tr>
        <tr>
            <td>Bran</td>
            <td>$2.75</td>
          </tr>
          <tr>
            <td>Corn</td>
            <td>$3.00</td>
          </tr>
        <tr>
            <td>Chocolate Chip</td>
            <td>$3.50</td>
        </tr>
        <tr>
            <td>Double Chocolate Chip</td>
            <td>$3.75</td>
          </tr>
          <tr>
            
        
        </tbody>
      </table>