#header { 
    background-color: #fff5ee;
    text-align: center;
    border-bottom: 1px solid;
    height: 5em; 
    font-family: 'Great Vibes', cursive;
    font-size: 33px;
}

body { 
  background-color:#fffaf0;
}


#cake{
  width:45%;
  height: 50%;
}

#cupcake{
  width: 45%;
  height: 50em;
}

footer{ 
  background-color: #fff5ee; 
}
