#header { 
    background-color: #fff5ee;
    text-align: center;
    border-bottom: 1px solid;
    height: 5em; 
    font-family: 'Great Vibes', cursive;
    font-size: 33px;
}

body { 
  background-color:#fffaf0;
}

#cake{
  width:50%;
  height: 50%;
}



footer{ 
  background-color: #fff5ee; 
}
